<h2>
  Users:
</h2>
<table>
  <thead>
  <tr>
    <td style="width: 30px;">
      #
    </td>
    <td>
      Name
    </td>
    <td>
      Nickname
    </td>
    <td>
      Email
    </td>
    <td>
      Address
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; let i = index;">
    <td>
      {{i}}
    </td>
    <td>
      {{user.name}}
    </td>
    <td>
      {{user.username}}
    </td>
    <td>
      {{user.email}}
    </td>
    <td>
      {{user.address | json}}
    </td>
  </tr>
  </tbody>
</table>
